.header {
    background-color: #460069;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
    border-radius: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-style: italic;
    position: fixed;
    z-index: 1000;
    margin-top: -16px;
}

.nm {
    font-weight: 500;
    font-style: normal;
    font-family: cursive;
    font-size: 13px;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92vw;
}

.left a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'DM Sans Merlin';
    text-wrap: nowrap;
    padding: 10px 49px;
    width: 73px;
    margin: 6px 15px;
    background-color: #546991;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 28px;
    font-weight: 500;
}

.left a:hover {
    /* background-color: rgb(168, 44, 44);*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.right {
    display: flex;
    flex-direction: row;
    width: 106px;
    justify-content: space-between;
}

.right input {
    background-image: url(/src/components/Header/search-icon.png);
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 221px 13px;
    font-weight: 600;
}


#search {
    padding: 12px 26px;
    margin: 2px 7px;
    border-radius: 24px;
    font-size: 16px;
}

#search::placeholder {
    font-style: italic;
    font-weight: 300;
}

.right form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right button {
    padding: 20px 21px;
    border-radius: 30px;
    border-style: none;
    background-color: #fef8f8d6;
    color: #ebebea;
    font-weight: 700;
    cursor: pointer;
    background-image: url('/src/components/Header/night.png');
    background-repeat: no-repeat;
    background-size: 26px 30px;
    background-position: 8px 5px;
}

.profile {
    background-color: aqua;
    width: 31px;
    height: 31px;
    border-radius: 21px;
    margin: 9px 12px;
    background-image: url(/src/components/Header/profile-user.png);
    background-repeat: no-repeat;
    background-size: 31px 30px;
}

label {
    margin: 12px 5px;
}

/*@media (max-width:1450px)  and (min-width: 934px)*/
@media (max-width:1481px) and (min-width:935px) {
    .header {
        position: relative;
        width: 97.5vw;
    }

    .nm {
        font-size: 29px;

    }

}

@media (max-width:933px) and (min-width:652px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 96.5vw;
    }

    .nm {
        font-size: 29px;
        width: 80vw;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .left a {
        margin: 6px 109px;
    }
}

@media (max-width:650px) and (min-width:416px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
        position: relative;
    }

    .nm {
        font-size: 29px;
        width: 80vw;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .left a {
        margin: 6px 109px;
    }

    #footer {
        flex-direction: column;
        width: 121vw;
    }
}

@media (max-width:415px) {
    .header{
        width: 92vw;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .nm {
        font-size: 29px;
        width: 80vw;
    }
}